<div class="site-header">
  <div class="wrapper">
	  <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}<b class="command_prompt"></b><b class="blinking_cursor">_</b></a>&nbsp;&nbsp;<a href="http://127.0.0.1:4000/2022/11/16/about.html">About</a>&nbsp;&nbsp;<a href="http://127.0.0.1:4000/2022/11/16/contact.html">Contact</a>
    <span class="social_links">
        {% for link in site.dash.social_links %}
        {% if link.fa == true %}
        <a class="color-{{ link.color }}-hover" href="{{ link.url }}"><i class="fa fa-{{ link.icon }}"></i></a>
        {% else %}
        <a class="color-{{ link.color }}-hover" href="{{ link.url }}"><i class="fab fa-{{ link.icon }}"></i></a>
        {% endif %}
        {% endfor %}
    </span>
  </div>
</div>
